services:
  app:
    image: depot:latest
    volumes:
      - ./depot:/var/local/depot/
    environment:
      - DEFAULT_TENANT_PASSWORD=$DEFAULT_TENANT_PASSWORD
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./ssl:/root/ssl
    ports:
      - "443:443"
    depends_on:
      - app
