depot:
  base-directory: /var/local/depot
  host: http://localhost:8080
  time-zone: UTC
  allow-symbolic-links: false
  tenants:
    default:
      password: ${DEFAULT_TENANT_PASSWORD:}

spring:
  threads:
    virtual:
      enabled: true
  mvc:
    problemdetails:
      enabled:
        true
  servlet:
    multipart:
      max-request-size: 500MB
      max-file-size: 500MB

server:
  forward-headers-strategy: framework

springdoc:
  packagesToScan: ch.unibas.medizin.depot.api
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false
